manifest {
	description = 'Selection analysis'
	homePage = 'http://docpollard.org/research/'
	mainScript = 'GBGC_selection_analysis.nf'
	author = 'Kathleen Keough & Katie Pollard, based on work from Dennis Kostka'
	nextflowVersion = '==20.10.0'
}

/*
* execution profiles for different environments
*/

profiles {

	local {
		process.conda = "/pollard/home/kathleen/miniconda3/envs/gbgc"
		workDir = "/pollard/home/kathleen/projects/zoonomia/GBGCnf/workdir/"
	}

	sge {
		process.conda = "/pollard/home/kathleen/miniconda3/envs/gbgc"
		includeConfig "$baseDir/configs/sge.config"
	}

}


timeline {
	enabled = false
}
