process{

    process.conda = "/wynton/home/pollard/kathleen/miniconda3/envs/gbgc"
    workDir = "/wynton/home/pollard/kathleen/nextflow_output"

    // SGE node config
    executor = 'sge'
    penv = 'smp'
    scratch = 'true'
    distillerTmpDir='$TMPDIR'

    // configure settings for each process

    withName: splitHars {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=1G -l scratch=1G -V -l h_rt=00:05:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: extractHarMsa {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=30G -l scratch=30G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: getHarFlankingRegions {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=5G -l scratch=5G -V -l h_rt=03:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: extractHarFlanks {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=200G -l scratch=200G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: convertHARmafToSS {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=30G -l scratch=30G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: convertHARflankMafToSS {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=200G -l scratch=200G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: getMatchingSpecies {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=10G -l scratch=10G -V -l h_rt=00:25:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: filterMatchingSpeciesHars {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=30G -l scratch=30G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: filterMatchingSpeciesFlanks {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=200G -l scratch=200G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: convertHarMSmafSS {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=30G -l scratch=30G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: convertHarFlankMSmafSS {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=200G -l scratch=200G -V -l h_rt=96:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }

    withName: selectionAnalysisAutosomes {        
        cpus = 1
        clusterOptions = '-S /bin/bash -l mem_free=200G -l scratch=200G -V -l h_rt=336:00:00 -e /wynton/home/pollard/kathleen/nextflow_output/error -o /wynton/home/pollard/kathleen/nextflow_output/error'
    }
}


